<?xml version="1.0"?>
<!--
/**
 * @author Ronak Patel
 * @package Raghu_GuestRegistration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Raghu_GuestRegistration" setup_version="1.0.0" />
</config>